


<div class="row">

    <div class="col-md-12">


        <br>
        <p class  = 'text-justify'>
            Dear Mr./Ms. {{ user }}
        </p>
        <p>

            We thankfully acknowledge your interest and participation in 
            QUIZTAINMENT, the most unique quiz competition in the history of Pakistan.

        </p>
        <p class  = 'text-justify'>

            PLEASE NOTE that owing to  
            <span style="color:red" >
                <b> 
                DISRUPTION IN PAYMENT GATEWAY FACILITY 
                </b>
            </span>
                
                at the moment <b> Quiztainment  </b> is constraint to 
                <span style="color:red" >
                <b> 
                TEMPORARILY FREEZE 
                </b>
            </span>
                
                the ongoing segment scheduled to end on 31-12-2022 with immediate effect.
                <br>
                We will resolve the issue and shall RESUME the contest shortly. The LAST DATE for
                entries shall be extended accordingly to facilitate our valued participants.
            

        </p>

        <p class  = 'text-justify'>

            <span style="color:green" >
            <b> 
            GOOD NEWS! 
            </b>
            </span>
            
            Upon resumption of the competition, you are entitled to 
            <b> PLAY ONE TIME  </p> without paying the entry fee.
            In the event of any query please feel free to reach us.
             
            


        </p>

        <br>
        <p class  = 'text-justify'>
           
            Sincerely,
            <br>
            Director Digital Operations
            <br>
                <b>
            Quiztainment
            </b>
            
            
        </p>








       

    </div>

</div>


