


<div class="row">

    <div class="col-md-12">

        <br>
        <h2  class = 'py-2' style="color:red; text-align: center;"> BREAKING NEWS </h2>
        <h2  class = 'py-2' style="color:black;  text-align: center;">  PLAY & EARN FOR FREE </h2>

        <br>
        <p class  = 'text-justify'>

            Dear valued participants, this is to inform you that owing to 
            <b> disruption in 
            payment gateway </b> facility we are constraint to 
            <b>temporarily freeze </b> the ongoing monthly segment that was scheduled 
            to end on 31-12-2022. We are resolving the issue and shall resume very soon.
        </p>
        <p class  = 'text-justify'>

            <h1>  GOOD NEWS!  </h1> 
            Till the resumption of our monthly segment we invite you to 
            <b> REGISTER & PLAY FOR FREE. </b>
        </p>

        <p class  = 'text-justify'>

            This is a limited time offer allowing you 
            <b>  to play, score and win  </b>
            surprise cash rewards. Top scorers will be rewarded upon resumption of monthly segment. We value and appreciate your interest.


        </p>

        <br>
        <p class  = 'text-justify'>
           
        Sincerely,
        <br>
        Director Digital Operations
        <br>
        <b>
        Quiztainment
        </b>
        </p>









       

    </div>

</div>


