<table>
    <tr>
    <td> Quiz Name </td> <td>  {{  quiz_name }}  </td>
    </tr>
    <tr>
    <td> Quiz Price  </td> <td> {{  price_name }}  </td>
    </tr>
    <tr>
    <td> Amount  </td> <td> {{  quiz_payment }}  </td>
    </tr>
    <tr>
    <td> Questions  </td> <td> {{  quiz_numbers }}  </td>
    </tr>
    <tr>
    <td> Start Date  </td> <td> {{  start_date_time }}  </td>
    </tr>
    <tr>
    <td> End Date  </td> <td> {{  end_date_time }}  </td>
    </tr>
    <tr>
    <td> Durations  </td> <td> {{  duation_time }}  </td>
    </tr>
</table>

