{% extends "core/base.html" %}

{% load static %}

{% block content %}


<div class="container py-5 d-flex  justify-content-around  " style="margin-top: 70px; margin-bottom:70px ;" >
  <div class="row d-flex  justify-content-around">
    <div class="col-lg-2 col-sm-12 col-md-8 p-4  card "></div>


    <div class="col-lg-8 col-sm-12 col-md-8 p-4  card ">
      <div class="py-1 text-center ">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <div class="alert alert-{{ message.tag }} text-center ">
          <strong> {{message.tags }} !</strong> {{message}}.
        </div>
        {% endif %}

        {% endfor %}
        {% endif %}
      </div>



      <div class="card mt-3 ">


          <!--Password reset sent-->
          <div class="container p-5">
            <h2 class="font-weight-bold mt-3">Password reset sent</h2>
            <hr>
            <hr>

            <p>
              Hi user,
              </p>
              
             <p> We have sent a password to your regisrtered email that you may use to sign in.  </p>

            <p>   We advise you to change or rest the password once you sign in. </p>
          
            <hr>

              
            <p>  if an account exists with the email you entered. You should receive them shortly.</p>

           <p>  If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder. </p>
            

          <p> Thanks </p>
          <p> Quiztainment </p>

          <br>
          <br>

            




              

          </div>


      </div>



    </div>

    <div class="col-lg-2 col-sm-12 col-md-8 p-4  card "></div>



  </div>
</div>
<br><br><br><br><br><br><br><br><br>








{% endblock content %}