{% extends "core/base.html" %}

{% load static %}

{% block content %}


<div class="container py-5 d-flex  justify-content-around  " style="margin-top: 70px; margin-bottom:70px ;" >
  <div class="row d-flex  justify-content-around">
    <div class="col-lg-2 col-sm-12 col-md-8 p-4  card "></div>


    <div class="col-lg-8 col-sm-12 col-md-8 p-4  card ">
      <h3 class="text-center"> Reset Password </h3>



      <div class="card mt-3 ">

<!--Password Reset Complete-->
<div class="container p-4">
    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
    <hr>
    <p>
      We have sent a password to your regisrtered email that you may use to sign in. 
      </p>
      <p> 

    We advise you to change or rest the password once you sign in.
      
    </p>                 
    <a href=" {% url  'login' %} " class="btn btn-primary">Log in</a> 
  </div>


      </div>



    </div>

    <div class="col-lg-2 col-sm-12 col-md-8 p-4  card "></div>



  </div>
</div>
<br><br><br><br><br><br><br><br><br>








{% endblock content %}