{% extends "core/base.html" %}

{% load static %}

{% block content %}


<div class="container py-5 d-flex  justify-content-around  " style="margin-top: 70px; margin-bottom:70px ;" >
  <div class="row d-flex  justify-content-around">
    <div class="col-lg-2 col-sm-12 col-md-8 p-4  card "></div>


    <div class="col-lg-8 col-sm-12 col-md-8 p-4  card ">
      <h3 class="text-center"> Reset Password </h3>



      <div class="card mt-3 ">
        {% if password_reset_form %}

        <form class="p-4" action="" method="POST" novalidate>
          <!-- Email input -->
          {% csrf_token %}

          <div class="form-outline mb-4">
            <label for="id_email"> Enter Your Email Address </label>
            <input type="email"  class="form-control form-control-sm" name="email" autocomplete="email" maxlength="254" required id="id_email">
          </div>
          <br>


          <!-- Submit button -->
          <input type="submit" style="background-color: #14A43B; font-variant: small-caps;" 
          class="btn btn-primary btn-block mb-4" value="Send Email" />
        </form>



        {% endif %}



      </div>



    </div>

    <div class="col-lg-2 col-sm-12 col-md-8 p-4  card "></div>



  </div>
</div>
<br><br><br><br><br><br><br><br><br>








{% endblock content %}