{% extends "core/base.html" %}

{% load static %}


{% block extra_header_meta_tag %}
<meta name="title" content="About Us: | Quiztainment"> 
<meta name="description" content="Quiztainment is a timed quiz competition that takes place online. Our goal with this platform is to keep you engaged, interested, and excited.">
{% endblock extra_header_meta_tag %}   



	




{% block title %}
<title>Quiztainment-About</title>
{% endblock title %}


{% block content %}
{% include 'core/about_content.html' %}
{% endblock content %}
    
  