
{% load static %}
    <!-- ==============================================
    ** Inner Banner **
    =================================================== -->
    <div class="inner-banner blog">
        <div class="container">
            <div class="row" >
                <div class="col-sm-12">
                    <div class="content">
                        <h1>About Us</h1>
                        <p> Putting your Knowledge to Test </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ==============================================
    ** About **
    =================================================== -->
    <section class="about inner padding-lg">
        <div class="container">
            <div class="row"    style="
    position: relative;
    bottom: 50px;
">
                <div class="col-md-7 left-block">
                    <h2> WHO ARE WE? </h2>
                    <p>
                        Quiztainment is an online timed quiz contest. With this platform, our mission is to keep you entertained and well-informed. Besides being fun and exciting, we believe quizzes and competitions are always helpful in upgrading one's knowledge and confidence. Having this motto in mind, we have built this stimulating and motivating medium. We help you learn progressively while facilitating you to discover amazing facts about yourself and the world. With our quizzes, we put forward thrilling challenges on the go with bigger prizes. Better still, we pair you up with random opponents all over Pakistan – helping you build connections. Not to mention, this platform is a source of entertainment and knowledge. Rather than wasting your precious time, you can now spend it doing something worthy. 
                                                
                    </p>
                </div>
                <div class="col-md-5 about-right"> <img src=" {% static 'core/images/Quiztainment-banner-1.jpg' %} " class="img-responsive" alt=""> </div>
            </div>
        </div>
    </section>

