{% extends "core/base.html" %}

{% load static %}


{% block title %}
<title>Quiztainment-Blog</title>
{% endblock title %}

{% block extra_header_meta_tag %}
<meta name="title" content="Blog | Quiztainment"> 
<meta name="description" content="Thank you for visiting our blog. Improve your general knowledge by taking the quizzes here. The following are the questions that need to be answer and win prizes">
{% endblock extra_header_meta_tag %}   



{% block content %}

<h1> Hi </h1>

{% endblock content %}
    
  