{% extends "core/base.html" %}

{% load static %}


{% block title %}
<title>Quiztainment-FAQ</title>
{% endblock title %}

{% block extra_header_meta_tag %}
<meta name="title" content="F.A.Q's: | Quiztainment"> 
<meta name="description" content="Quiztainment Please fill out the form below to reach us anytime. Name. Email. Mobile. Message. SUBMIT. Contact Us Phone: +92 324 1237566, Or Email......">
{% endblock extra_header_meta_tag %}   





{% block content %}
{% include 'core/faq_content.html' %}













{% endblock content %}
    
  