
{% load static %}








 <!-- ==============================================
    ** Inner Banner **
    =================================================== -->
    <div class="inner-banner blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        <h1>Faq</h1>
                        <p> Frequently Asked Questions  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ==============================================
    ** FAQ **
    =================================================== -->
    <section class="faq-wrapper padding-lg">
        <div class="container">
            <div class="row">

              
                

                <div class="col-12  " style="margin-top: 20px !important; margin-bottom:20px !important  " >
                    
                 
                     
                     
                         
                         
                    <h3  class="accordion-header" id="headingOne">
                        <h3>
                        1. WHAT IS QUIZTAINMENT?              
                    </h3>
                    <br>
                    
                    
                    
                    <p  class = 'py-4 ' style = 'color:black !important' >
                        Answer: It is a website offering online quiz competition on various subjects, including general knowledge. With this platform, our mission is to keep you informed and entertained. We continuously add new quizzes to the website.
               

                    </p>
                   
                  
                
                
                </div>
                
                <div class="col-12  " style="margin-top: 20px !important; margin-bottom:20px !important  " >
                    
                   
                    <h3>
                        2. IS QUIZTAINMENT FREE?
                        

                    </h3>
                    <br>
                    
                    <p class="shadow py-4 " style = 'color:black !important' >
                        Answer: No, it is not free. Before attempting the quiz, you need to pay entry fee of Rs 250 as per instructions on the website. Remember, with one ID card; you can only register once and need not to register again for any subsequent attempts as there is no limit for entries.
               
                    </p>
                   
                </div>

                <div class="col-12  " style="margin-top: 20px !important; margin-bottom:20px !important  " >
                    
                    <h3>
                    3. HOW LONG DO I GET TO ANSWER A QUESTION?
                    </h3>
                     <br>
                    <p class="shadow py-4 " style = 'color:black !important' >
                        Answer: It’s a timed online quiz. You have to answer 25 questions in 20 minutes. The timer starts as soon as you start the quiz. Upon lapse of allotted time the quiz will automatically ends.

                    </p>
                   
                </div>



                <div class="col-12  " style="margin-top: 20px !important; margin-bottom:20px !important  " >
                    
                    
                    
                    <h3>
                        4. CAN I PAUSE THE TIMER?
                    </h3>
                    
                     <br>
                    
                    <p>
               
                        Answer: No, you cannot pause the timer. The clock is programmed to run our quizzes smoothly and to give equal opportunity to all participants.
 
                    </p>
                    
                </div>



                <div class="col-12  " style="margin-top: 20px !important; margin-bottom:20px !important  " >
                    
                    
                    <h3>
                        5. I ANSWERED A QUESTION ACCURATELY, BUT IT WAS MARKED AS INCORRECT?
 
                    </h3>
                    
                     <br>
                    
                    <p style = 'color:black !important' >
                        Answer: Even though we spend a significant amount of time in research, preparation and validation of our quiz questions and answers, a rogue answer may occasionally get through the cracks. You may assist us by telling us the name of the quiz, the question, and what you believe is the correct answer on our Contact Us page. We'll do everything we can to find it and fix it. It however, may please be noted we take no responsibility for any unintentional error and you cannot challenge the result on any ground whatsoever.

 
                    </p>
                    
                </div>


                <div class="col-12  " style="margin-top: 20px !important; margin-bottom:20px !important  " >
                    
                    
                    <h3>
                        6. I WANT TO SEND YOU MY QUIZ OR QUIZ QUESTIONS.
                    </h3>
                       <br>
                    <p style = 'color:black !important' >
                        Answer: You cannot send your quiz or quiz question as we have our own dedicated research team to update and develop quizzes.



                    </p>
                
             
             </div>
            </div>




        </div>
    </section>
    
   