{% load static %}


        <!-- Start Header top Bar -->
        <div class="header-top">
            <div class="container clearfix">
                <ul class="follow-us hidden-xs">
                    <li><a href="https://www.facebook.com/quiztainmentpak" target="_blank" >  <i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UC14RPc5q8OKMxT_bGMTrX6g" target="_blank" ><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/quiztainment/" target="_blank"  ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
                <div class="right-block clearfix">
                    <ul class="top-nav hidden-xs">
                        <li><a href=" {% url 'register' %} ">Register</a></li>
                        <!--li><a href=" {% url 'home' %} ">Blog</a></li-->
                        <li><a href=" {% url 'faq' %} ">FAQs</a></li>
                        <li><a href=" {% url 'policy' %} ">Privacy Policy</a></li>
                        <li><a href=" {% url 'terms' %} ">Terms</a></li>
                    </ul>
                    <div class="lang-wrapper">
                        <div class="select-lang2">
                            <select class="custom_select">
                                <option value="en">English</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header top Bar -->

      