{% load static %}



    <!-- Scroll to top -->
    <a style="right: unset !important; left: 20px !important;" href="#" class="scroll-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    <!-- Optional JavaScript -->
    <script src="{% static 'core/js/jquery.min.js' %} "></script>
    <script src="{% static 'core/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/assets/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'core/assets/matchHeight/js/matchHeight-min.js' %}"></script>
    <script src="{% static 'core/assets/bxslider/js/bxslider.min.js' %}"></script>
    <script src="{% static 'core/assets/waypoints/js/waypoints.min.js' %}"></script>
    <script src="{% static 'core/assets/counterup/js/counterup.min.js' %}"></script>
    <script src="{% static 'core/assets/magnific-popup/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'core/assets/owl-carousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'core/js/modernizr.custom.js' %}"></script>


    <script src="{% static 'core/js/custom.js' %}"></script>

    <script src="{% static 'core/js/countdownTimer.js' %}"></script>





    