{% load static %}

{% block title %}
<title>Quiztainment-Login</title>
<link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
{% endblock title %}

{% block extra_header_meta_tag %}
<meta name="title" content="Login: | Quiztainment">
<meta name="description"
    content="We have thousands of GK quizzes and tests online at Quiztainment. To learn through real-time testing, Simply Login/ Register the desired information link....">
{% endblock extra_header_meta_tag %}

{% block content %}
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    html,
    body {
        height: 100%;
        overflow: hidden;
    }

    .login-container {
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .login-form-section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        background-color: #fff;
    }

    .login-inner {
        width: 100%;
        max-width: 400px;
    }

    .login-inner .logo {
        display: flex;
        align-items: center;
        /* margin-bottom: 20px; */
    }

    .login-inner .logo img {
        height: 35px;
        margin-right: 10px;
    }

    .login-inner h1 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #000;
    }

    .login-inner p {
        font-size: 14px;
        color: #777;
        margin-bottom: 25px;
        line-height: 4px;
    }

    .login-inner input,
    .login-inner select,
    .login-inner textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        font-size: 14px;
        border-radius: 4px;
    }

    .login-inner .btn {
        background-color: #f7931e;
        color: white;
        font-weight: bold;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 5px;
    }

    .login-inner .btn:hover {
        background-color: #da800d;
    }

    .login-inner .footer-text {
        font-size: 13px;
        margin-top: 20px;
        color: #666;
        text-align: center;
    }

    .login-inner .footer-text a {
        color: #f7931e;
        text-decoration: none;
        font-weight: 600;
    }

    .login-inner .forgot {
        text-align: right;
        font-size: 13px;
        margin-top: -10px;
        margin-bottom: 15px;
    }

    .forgot a {
        color: #14A43B;
        font-weight: 500;
        text-decoration: none;
    }

    .image-section {
        width: 50%;
        background-color: #f7f7f7;
    }

    .image-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
    }
</style>

<div class="login-container">
    <div class="login-form-section">
        <div class="login-inner">
            <img src="{% static 'core/images/quiztainment-logo-nav.png.png' %}" alt="Logo">
            <div class="logo">
                <h1>Welcome to Quiztainment</h1>
            </div>
            <p>Welcome back! Enter your credentials to login</p>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {{ user_login_form }}

                {% if continue %}
                <input type="hidden" id='user_login_password' name="user_login_password"
                    value='{{ user_login_password }}'>
                <input type="hidden" id='uname' name="uname" value='{{ uname }}'>
                <button class="btn" type="submit" name='continue'>Continue</button>
                {% else %}
                <div class="forgot"><a href="{% url 'password_reset' %}">Forgot your password?</a></div>
                <button type="submit" class="btn" name='login'>Login</button>
                <div class="footer-text">
                    Don’t have an account? <a href="{% url 'register' %}">Sign up</a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="image-section">
        <img src="{% static 'core/images/login.png' %}" alt="Login Banner">
    </div>
</div>
{% endblock content %}