{% load static %}

{% block title %}
<title>Quiztainment-Login</title>
<link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
{% endblock title %}

{% block extra_header_meta_tag %}
<meta name="title" content="Login: | Quiztainment">
<meta name="description"
    content="We have thousands of GK quizzes and tests online at Quiztainment. To learn through real-time testing, Simply Login/ Register the desired information link....">
{% endblock extra_header_meta_tag %}

{% block content %}
<div class="login-container">
    <div class="login-form-section">
        <div class="login-inner">
            <div class="login-text">
                <img src="{% static 'core/images/quiztainment-logo-nav.png.png' %}" alt="Logo">
                <div class="logo">
                    <h1>Welcome to Quiztainment</h1>
                </div>
                <p>Welcome back! Enter your credentials to login</p>
            </div>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {{ user_login_form }}

                {% if continue %}
                <input type="hidden" id='user_login_password' name="user_login_password"
                    value='{{ user_login_password }}'>
                <input type="hidden" id='uname' name="uname" value='{{ uname }}'>
                <button class="btn" type="submit" name='continue'>Continue</button>
                {% else %}
                <div class="forgot"><a href="{% url 'password_reset' %}">Forgot your password?</a></div>
                <button type="submit" class="btn" name='login'>Login</button>
                <div class="footer-text">
                    Don’t have an account? <a href="{% url 'register' %}">Sign up</a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="image-section">
        <img src="{% static 'core/images/login.jpg' %}" alt="Login Banner">
    </div>
</div>
{% endblock content %}