{% load static %}

<style>
    a {
        color: #fff;
        text-decoration: none
    }

    body {
        font-family: 'Poppins', sans-sherif;
        display: flex;
        color: #fff;
        overflow: hidden
    }

    .ticker {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: 50px;
        margin: 0 auto
    }

    .news {
        width: 76%;
        background: #1ebf49;
        padding: 0 2%
    }

    .title {
        width: 20%;
        text-align: center;
        background: #14A43B;
        position: relative
    }

    .title h5 {
        font-size: 15px;
        margin: 8% 0
    }

    .news marquee {
        margin-top: 12px
    }

    .news-content p {
        margin-right: 41px;
        display: inline
    }
</style>

    <div class="row">
        <div class="col-lg-12">

            <div class="ticker">
                <div class="title">
                    <h5>Update</h5>
                </div>
                <div class="news">
                    <marquee class="news-content">
        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
        
                        </p>
                        <p>
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                            quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                            Ut enim ad minima veniam
                        </p>
                    </marquee>
                </div>
            </div>
        



        </div>
    </div>
