{% extends "core/base.html" %}

{% load static %}




{% block title %}
<title>Quiztainment-Policy</title>
{% endblock title %}


{% block extra_header_meta_tag %}
<meta name="title" content="Privacy Policy | Quiztainment"> 
<meta name="description" content="The privacy policy on this page relates to our online and offline data collection procedures, such as your visit to the website, enquiry, and so on.....">
{% endblock extra_header_meta_tag %}   




{% block content %}



<div class="container">


<div class="row  ">

    <div class="col-lg-12  "  style="margin-top: 15px; padding-bottom:20px ;"  >
        <div class="row  ">
            <div class="col-lg-10">
                <h3>  Privacy Policy </h1>
            </div>
            <div class="col-lg-2 text-right ">

                <button class="btn btn-dark small btn-sm" type="button" data-toggle="collapse" data-target="#collapsePolicy" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-solid fa-chevron-down"></i>  
                  </button>
            </div>
        </div>

       
        <p style="text-justify:  justify; padding:5px; border:1px solid #211D1E "  class="collapse mt-4 " id="collapsePolicy">
        Quiztainment (referred to here as "we", "our", or "Quiztainment”) is committed to protect the data of its visitors with complete confidentiality. Privacy is at the core of everything we do at Quiztainment – we take such matters seriously and understand the importance of keeping the data safe.
        The privacy policy stated on this page applies to our online and offline practices of gathering data, including your visit to the website, inquiry about our quizzes, and participation in our online quizzes through any medium. Please note we collect information through different mediums such as cookies installed on our website. However, we ensure to protect it by all means. 
        The information we gather is strictly for the purpose of improving our visitor’s experience. By accessing our website in any manner, you agree to our privacy policy. However, we reserve the right to amend our privacy policies at any moment, and we may update them without notice. 
        </p>
    </div>

        <div class="col-lg-12  "  style="margin-top: 15px; padding-bottom:20px ;"  >

            <div class="row  ">
                <div class="col-lg-10">
                    <h3> Visitor’s Consent</h1>
                </div>
                <div class="col-lg-2 text-right ">
    
                    <button class="btn btn-dark small btn-sm" type="button" data-toggle="collapse" data-target="#collapseVisitors" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-solid fa-chevron-down"></i>  
                      </button>
                </div>
            </div>
    


            <p style="text-justify:  justify; padding:5px; border:1px solid #211D1E "  class="collapse mt-4 " id="collapseVisitors">
                Before submitting your personal data on any medium of Quiztainment, including websites & social media, you must read the privacy policy carefully. However, your submission of personal data will indicate your consent in our favor & after that, we can store your personal information.
                    Collection of Personal Information
                    Before you access our website, we may ask you to submit personal information such as name, ID card number, contact number, address, etc. The collected information will solely be used to keep your record. Not to mention, we do not sell personal data to any unauthorized party. Your collected data helps us provide you with the required and appropriate information. 
                    We use this information to verify our users' identities. Apart from that, we exclusively use secure connections to receive payment information from the audience. Furthermore, we do not take responsibility for communication via non-encrypted channels or emails where the controlling access is beyond Quiztainment's control.
            
                </p>

        </div>



        <div class="col-lg-12  "  style="margin-top: 15px; padding-bottom:20px ;"  >
        
            <div class="row  ">
                <div class="col-lg-10">
                    <h3>   Sensitive Data  </h1>
                </div>
                <div class="col-lg-2 text-right ">
                    <button class="btn btn-dark small btn-sm" type="button" data-toggle="collapse" data-target="#collapseSensitive" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-solid fa-chevron-down"></i>  
                      </button>
                </div>
            </div>


            <p style="text-justify:  justify; padding:5px; border:1px solid #211D1E "  class="collapse mt-4 " id="collapseSensitive">
                We may ask you for personal information, such as your credit card number, to process the payment for attempting the quiz. All of the information you provide will be handled on a safe and encrypted platform. Please be aware that none of your sensitive personal data is stored or saved in our systems.
                Data Protection Notice
                Quiztainment collects all personal information through cookies, the Google platform, and advertising. We never share personal information with third parties or companies without your permission. On the other hand, visitors have the right to request a copy of their personal data. You can request a change if you want to know what information we have on you in our files or if you believe we have incorrect information. Furthermore, if you think your personal information is being exploited, please contact us using an inquiry email.
                    
            </p>
    
            
        </div>

        <div class="col-lg-12  "  style="margin-top: 15px; padding-bottom:20px ;"  >
            <div class="row  ">
                <div class="col-lg-10">
                    <h3>   Our Cookies  </h1>
                </div>
                <div class="col-lg-2 text-right ">
                    <button class="btn btn-dark small btn-sm" type="button" data-toggle="collapse" data-target="#collapseCokkies" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-solid fa-chevron-down"></i>  
                      </button>
                </div>
            </div>



            <p style="text-justify:  justify; padding:5px; border:1px solid #211D1E "  class="collapse mt-4 " id="collapseCokkies">
                Quiztainment uses cookies, a text document, to identify your browser and computer. The cookies identify your IP address and do not collect any personal data. Cookies allow us to track the performance of the website and the experience of visitors. Additionally, cookies are utilized by third-party service providers such as Google Analytics and Facebook.
                Please be aware that we do not disclose any visitor’s personal information to unauthorized third parties or individuals. You may also alter your browser's settings to allow or reject cookies easily. This right, however, is reserved by us and can be revoked at any time.
            </p>
        </div>

    </div>
</div>


{% endblock content %}
    
  