{% load static %}

{% block title %}
<title>Quiztainment-Register</title>
<link rel="stylesheet" href="{% static 'admin/css/register.css' %}">
{% endblock title %}

{% block content %}
<div class="register-container">
    <div class="register-form-section">
        <div class="register-inner">
            <div class="register-text">
                <img src="{% static 'core/images/quiztainment-logo-nav.png.png' %}" alt="Logo">
                <div class="logo">
                    <h1>Welcome to Quiztainment</h1>
                </div>
                <p>Welcome back! enter your credentials to begin</p>
            </div>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group">
                    {{ fm.label_tag }}
                    {{ fm }}
                    <div class="error">{{ fm.errors|striptags }}</div>
                </div>
                {% endfor %}
                {% if continue %}
                <input type="hidden" id='user_login_password' name="user_login_password"
                    value='{{ user_login_password }}'>
                <input type="hidden" id='uname' name="uname" value='{{ uname }}'>
                <button class="btn" type="submit" name='continue'>Continue</button>
                {% else %}
                <button type="submit" class="btn signup-button" name='login'>Signup</button>
                <div class="footer-text">
                    Already have an account? <a href="{% url 'login' %}">Login</a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="image-section">
        <img src="{% static 'core/images/login.jpg' %}" alt="Login Banner">
    </div>
</div>

{% endblock content %}