{% load static %}

    <!-- jQuery -->
    <script src="{% static  'userdashboard/vendors/jquery/dist/jquery.min.js' %} "></script>
    <!-- Bootstrap -->
    <script src="{% static  'userdashboard/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}  "></script>
    <!-- FastClick -->
    <script src="{% static  'userdashboard/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static  'userdashboard/vendors/nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static  'userdashboard/vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <!-- gauge.js -->
    <script src="{% static  'userdashboard/vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static  'userdashboard/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static  'userdashboard/vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static  'userdashboard/vendors/skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static  'userdashboard/vendors/Flot/jquery.flot.js' %}"></script>
    <script src=" {% static  'userdashboard/vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static  'userdashboard/vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static  'userdashboard/vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static  'userdashboard/vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static  'userdashboard/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static  'userdashboard/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static  'userdashboard/vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <!-- DateJS -->
    <script src="{% static  'userdashboard/vendors/DateJS/build/date.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static  'userdashboard/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static  'userdashboard/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static  'userdashboard/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static  'userdashboard/vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static  'userdashboard/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static  'userdashboard/build/js/custom.min.js' %}"></script>
	


    <link href="{% static 'core/js/countdownTimer.js' %}" rel="stylesheet">
