    .login-container {
        display: flex;
        height: 100vh;
        width: 100%;
        position: relative;
        background: white;
    }

    .login-form-section {
        display: flex;
        width: 50%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 60px 80px;
    }

    .login-inner {
        width: 100%;
        max-width: 360px;
    }

    .login-inner h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        color: #010110;
    }

    .login-inner p {
        font-size: 16px;
        color: #B7B7B7;
        line-height: 24px;
        font-weight: 500;
    }

    .login-inner div.login-text {
        margin-bottom: 20px;
    }

    .image-section {
        padding: 16px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-section img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    .login-inner .btn {
        width: 100%;
        background-color: #f7931e;
        color: white;
        font-weight: 600;
        padding: 12px 0;
        font-size: 15px;
        border-radius: 6px;
        transition: background-color 0.2s ease;
        border: none;
    }

    .errorlist {
        color: #dc3545;
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 4px;
    }

    .login-inner .btn:hover {
        background-color: #e6830c;
    }

    .login-inner a {
        color: #14A43B;
        text-decoration: none;
    }

    .login-inner a:hover {
        text-decoration: underline;
    }

    .text-small {
        font-size: 14px;
    }

    .login-inner .footer-text {
        font-size: 13px;
        margin-top: 20px;
        color: #B7B7B7;
        text-align: center;
    }

    .login-inner .footer-text a {
        color: #f7931e;
        text-decoration: none;
        font-weight: 600;
    }

    .login-inner .forgot {
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;

    }

    .forgot a {
        color: #14A43B;
        text-decoration: none;
    }

    .login-inner .logo {
        display: flex;
        align-items: center;
    }

    .login-inner .logo img {
        height: 35px;
        margin-right: 10px;
    }

    .login-inner input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        font-size: 14px;
        border-radius: 4px;
    }

    .login-inner label {
        font-size: 16px;
        color: #010110;
        font-weight: 600;
        margin-bottom: 6px;
        display: block;
    }